*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Defining fonts for each kind of text */
.text-subtitle{
  font-family: 'Oswald', sans-serif;
}
.text-title{
  font-family: 'Abril Fatface', cursive;
}
.text-paragraph{
  font-family: 'Nanum Gothic', sans-serif;
}
.c-black{
  color: #000;
}
.text-size-p{
  font-size: 1.3rem;
}
/* -- Header -- */
.header{
  padding: 15rem 0;
  min-height: 35rem;
}
.header, .about-me, .skills, .projects, .contact-me{
  position: relative;
  width: 100%;
  height: auto;
}
.projects{
  padding-bottom: 13rem;
}
.about-me, .skills, .projects{
  min-height: 30rem;
}
.contact-me{
  min-height: 27rem;
}
/**/
.text-size-h1{
  font-size: 6rem;
}
/* span */
.bg-text{
  background-color: #01c9c4;
  font-weight: bold;
}
/* about me */
.about-me-h2{
  font-size: 3.4375rem;
}
.circle{
  background-color: yellow;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
}
.box-skills h3{
  font-size: 1.4em;
}
.box-skills{
  height: 30vh;
  /*width: 30vh;*/
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-box-shadow: -7px 8px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: -7px 8px 0px 0px rgba(0,0,0,1);
  box-shadow: -7px 8px 0px 0px rgba(0,0,0,1);
  cursor: pointer;
}
.box-skills:hover {
  background-color: #dedde2;
}
.size-font-list{
  font-size: 0.95em;
}
/* project */
.img-project{
  height: 25vh;
  width: auto;
}
.img-project-2{
  width: 30vh;
  height: auto;
}
.box-projects{
  height: 27vh;
  /*width: 30vh;*/
  cursor: pointer;
}
.btn-project{
  background-color: yellow;
}
.btn-project:hover{
  background-color: #f1db00;
  color: #000;
}
.btn-project:link{
  text-decoration: none;
}
/* contact-me */
.icon-size{
  font-size: 2.7rem;
}
.icon-linkedin{
  color: #0077b5;
}
.icon-github{
  color: #000;
}
.link-to-cv{
  background-color: #01c9c4;
}
.link-to-cv, .btn-project{
  padding: 1rem 4rem;
  
  border-radius: 2vh;
  color: #000;
  font-size: 1.2em;
}
.link-to-cv:link{
  text-decoration: none;
}
.link-to-cv:hover{
  background-color: #009282;
  color: #000;
}
/* footer */
.bg-gray{
  background-color: #dedde2;
}
/*
.outline{
  outline: 2px solid blue;
  margin-right: -6vh !important;
}
.outline-1{
  outline: 2px solid palevioletred;
}*/
@media (max-width:576px){
  .projects, .contact-me{
    margin-top: 20rem;
  }
}